@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Cinzel:wght@400..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-1: #111;
  --primary-2: #222;
  --primary-3: #333;
  --grey-dark: #999;
  --grey-light: #ccc;
  --lapis-lazuli: #26619C;
  --aegean-blue: #2b8ead;
  --wine-red: #8a3a3a;
  --terracotta: #d98840;
  --golden-olive: #c5b358;
  --herbal-green: #7aa95d;
  --marble-white: #ededed;
  --light: #eeffee;
  --main-font: 'Cormorant Garamond': serif;
  --heading-font: 'Cinzel', serif;
  --logo-font: 'Carattere', cursive;
}

body {
  font-family: var(--main-font);
}

.heading {
  font-family: var(--heading-font);
}

.logo {
  font-family: var(--logo-font);
}