@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

#canvas1 {
  background: #ffb300;
  position: absolute;
}

.controls {
  position: absolute;
  z-index: 100;
}

img {
  display: none;
}

button {
  font-family: inherit;
  font-size: 20px;
  background: #111;
  color: #ff4500;
  border: 2px solid #ff4500;
  border-radius: 8px;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease-in;
}

button:hover {
  background: #ff4500;
  border-color: #111;
  color: #111;  
}